Django==4.2.16
djangorestframework==3.15.2
django-simple-history==3.7.0
django-cors-headers==4.4.0
django-environ==0.11.2
celery==5.3.6
redis==5.0.8
psycopg2-binary==2.9.9
WeasyPrint==62.3
boto3==1.35.0
anthropic==0.34.0
